@import 'variables.scss';
@import 'media_queries.scss';

/*
==============================
RESET
==============================
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
==============================
BASE STYLES
==============================
*/
html, body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
  @include bp(sm) {
    font-size: 20px;
  }
}

svg, img {
  width: 100%;
  display: block;
}

.site-width {
  width: 100%;
  // max-width: 1720px;
  padding: 0 25px;
  margin: 0 auto;
  @include bp(sm) {
    padding: 0 50px;
  }
  @include bp(xxl) {
    padding: 0 100px;
  }
}

h3 {
  font-size: 2.2em;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.4em;
  line-height: 1;
  color: $brand;
}

ul {
  list-style-type: none;
}

p {
  margin-bottom: 1rem;
  line-height: 1.4;
}

hr {
  border-top: 1px solid #ccc;
}

.stuck .box {
  @include bp(sm) {
    position: fixed;
    width: 100%;
    max-width: 324px;
    transform: translateY(3rem);
  }
}

/*
==============================
COVER PAGE
==============================
*/
header {
  color: #ffffff;
  background-color: $brand2;
  font-size: 1.1em;
  line-height: 1.4;
  padding-top: 3rem;
  padding-bottom: 3rem;
  @include bp(lg) {
    min-height: 100vh;
    font-size: 1.5em;
    line-height: 1.5;
    padding-top: 50px;
  }
  @include bp(xxl) {
    padding-top: 100px;
  }
  svg {
    max-width: 50px;
  }
  .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    span {
      display: inline-block;
      border-left: 1px solid #ffffff;
      margin-right: 1rem;
      span {
        position: relative;
        top: -3px;
        font-size: initial;
        border-left: 0;
        padding-left: 1rem;
        text-shadow: 1px 1px 2px rgba(black, 0.25);
      }
    }
  }
  .logo {
    display: inline-block;
    max-width: 200px;
    fill: #ffffff;
    margin-right: 1rem;
    filter: drop-shadow(2px 2px 4px rgba(black, 0.25));
  }
  .bonus-flag {
    display: none;
    font-size: 18px;
    background-color: $brand;
    position: absolute;
    top: 3vh;
    right: -3rem;
    width: 350px;
    transform: rotate(30deg);
    text-align: center;
    color: #ffffff;
    padding: 1em 0;
    @include bp(sm) {
      display: block;
    }
    @include bp(lg) {
      right: calc(35vw - 1rem);
    }
    @include bp(xxl) {
      right: calc(47vw - 1rem);
    }
  }
}

header .site-width {
  display: flex;
  flex-direction: column;
  @include bp(lg) {
    flex-direction: row;
  }
  > div {
    @include bp(lg) {
      width: 50vw;
    }
    &:first-child {
      padding-bottom: 3rem;
      @include bp(sm) {
        padding-bottom: 0;
      }
      // @include bp(lg) {
      //   padding-right: 100px;
      // }
      @include bp(xxl) {
        padding-right: 200px;
      }
    }
  }
}

header h1 {
  position: relative;
  z-index: 2;
  text-shadow: 3px 3px 6px rgba(black, 0.25);
  font-size: 2.2em;
  line-height: 1;
  margin-bottom: 2rem;
  @include bp(lg) {
    font-size: 2em;
    margin-bottom: 4rem;
  }
  @include bp(xl) {
    font-size: 3em;
  }
}

.big-number {
  color: #000;
  opacity: 0.2;
  position: absolute;
  z-index: -1;
  right: 0;
  font-size: 3em;
  letter-spacing: -25px;
  top: -35px;
  @include bp(sm) {
    // top: -35px;
  }
  @include bp(xl) {
    font-size: 3.5em;
    letter-spacing: -50px;
    top: -100px;
  }
}

.heading-sub {
  font-weight: 300;
  display: block;
  font-size: 0.75em;
}

.arrow {
  display: none;
  @include bp(lg) {
    display: block;
    position: absolute;
    bottom: 2rem;
    left: 25%;
    transform: translateX(-50%);
  }
  @include bp(xxl) {
    bottom: 3rem;
  }
}

.image-collage {
  position: relative;
  display: none;
  flex-wrap: wrap;
  height: 100vh;
  min-height: 100vh;
  div {
    box-shadow: inset 0 0 50px rgba(black, 0.85);
    background-size: cover;
    background-position: center;
    height: calc(100vh / 8);
    width: 15vw;
  }
  @include bp(lg) {
    display: flex;
    position: absolute;
  }
  @include bp(lg) {
    top: 0;
    left: 60vw;
    div {
      height: calc(100vh / 8);
      width: 20vw;
    }
  }
  @include bp(xxl) {
    left: 50%;
    div {
      width: 25vw;
    }
  }
}

/*
=========================
PERSON VIEW
=========================
*/
.fourth-3-fourth {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 3rem;
  flex-direction: column;
  @include bp(sm) {
    flex-direction: row;
  }
  > div {
    width: 100%;
    @include bp(sm) {
      position: relative;
      left: 8vw;
      &:first-child {
        width: 30vw;
        padding-right: 3rem;
        // margin-left: calc(15% - 3rem);
      }
      &:last-child {
        width: 50vw;
      }
    }
  }
}

.box {
  position: relative;
  top: 0;
  background-image: linear-gradient(#fff, #f0f0f0);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.25em;
  text-align: center;
  img {
    max-width: 250px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 auto 1rem;
  }
  h2 {
    color: $brand;
    text-transform: uppercase;
    font-size: 2em;
  }
  strong {
    display: block;
  }
  a {
    background-color: #01ABF0;
    border-radius: 3px;
    color: #fff;
    font-weight: 300;
    font-size: 0.85em;
    padding: 0.5rem 1rem;
    text-decoration: none;
    &:before {
      content: '';
      display: inline-block;
      margin-right: 20px;
      width: 20px;
      height: 20px;
    }
  }
}
